/* general styles */

* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Arial;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* navbar */

nav {
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    padding: 15px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

nav .logo-container {
    display: flex;
    align-items: center;
}

nav img {
    height: 30px;
    width: 30px;
}

nav .main-title {
    color: black;
    font-weight: bold;
    margin-left: 10px;
}

nav .list {
    display: flex;
    justify-content: right;
}

nav .list-item a {
    margin-right: 20px;
}

nav .list-item a:hover {
    color: #80563c;
}

/* body */

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 100px;
    background-color: rgb(253, 253, 253);
}

/* container */

.container {
    display: flex;
    width: 60%;
    border-radius: 15px;
    overflow: hidden;
    margin-top: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    background-color: white;
}

/* login box */

.login-box {
    width: 50%;
    padding: 50px;
    text-align: center;
}

.login-box span {
    background: #80563c;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 3px;
    display: inline-block;
}

.heading p {
    color: #80563c;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-icons i {
    font-size: 20px;
    cursor: pointer;
    color: black;
    transition: color 0.3s;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin: 10px 0;
}

.social-icons i:hover {
    color: #80563c;
}

.login-group input {
    color: #777;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-group input:focus {
    border-color: #80563c;
    outline: none;
}

.login-button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #80563c;
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 5px;
}

.login-button:hover {
    background-color: #603e28;
}

.login-group p {
    color: black;
    margin-top: 5px;
}

.login-group p a:hover {
    color: #80563c;
}

/* welcome box */

.welcome-box {
    width: 50%;
    background: #80563c;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    border-top-left-radius: 50% 100%;
    border-bottom-left-radius: 50% 100%;
    position: relative;
}